@import 'components/global-style/base.scss';

.sectionButtonInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		user-select: none;
	}

	.sectionButtonInfo__show {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		font-weight: 600;
		color: $primary-2;

		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}

		&:active {
			position: relative;
			top: 2px;
		}
	}
}
