@import 'src/components/global-style/base.scss';

.check {
	color: $text-color-14;
	display: flex;
	align-items: center;
}

.pillSquare__custom {
	svg {
		font-size: 15px;
		margin-right: 3px;
	}
}

.imageContainer {
	width: 20px;
}

.card__custom {
	height: 100px;
	overflow: auto;
	padding: 16px;
}

.pillSquareButton {
	width: fit-content !important;
	border: none !important;
	background-color: $border-color-5 !important;
	font-size: 15px !important;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;

	&:hover {
		background-color: $border-color-6 !important;
	}
}

.--breakWord {
	word-break: break-all;
}

.popover__custom {
	width: 100%;
}
