@import 'components/global-style/base.scss';

.itemContainer {
	&.dark {
		.item {
			.item__section {
				.item__section__title {
					color: $text-color-6;
				}

				&.first {
					.item__section__right {
						div {
							&:first-child {
								color: $primary-1;
							}

							&:last-child {
								color: $text-color-white-2;
							}
						}
					}
				}
			}
		}

		.item__info {
			background-color: $background-14;
			border-color: $border-color-3;

			.item__info__right {
				background-color: $background-6;
				border-color: $border-color-3;

				.item__info__title {
					span {
						&:first-child {
							color: $text-color-6;
						}

						&:last-child {
							color: $primary-1;
						}
					}
				}
			}

			.item__info__total {
				.item__info__total__title {
					color: $text-color-white-2;
				}
			}
		}
	}

	.item {
		display: flex;
		flex-wrap: nowrap;

		@media screen and (max-width: 576px) {
			flex-wrap: wrap;
		}

		.item__section {
			width: 210px;
			padding: 32px 8px 24px 24px;

			@media screen and (max-width: 768px) {
				padding: 24px 4px 16px 16px;
			}

			@media screen and (max-width: 576px) {
				width: 50%;
			}

			@media screen and (max-width: 320px) {
				width: 100%;
			}

			.item__section__title {
				color: $text-color-1;
				font-weight: 400;
				line-height: 1.5;
				margin-bottom: 4px;
				font-size: 12px;
				text-align: left;
			}

			&.first {
				display: flex;
				gap: 8px;

				@media screen and (max-width: 576px) {
					order: 1;
					padding: 12px;
				}

				.item__section__left {
					width: 48px;
					height: 48px;

					@media screen and (max-width: 360px) {
						width: 32px;
						height: 32px;
					}

					img {
						width: 100%;
						height: 100%;
					}
				}

				.item__section__right {
					div {
						&:first-child {
							color: $text-color-4;
							font-weight: 600;
							line-height: 1.5;
							text-transform: uppercase;
							margin-bottom: -4px;
							font-size: 12px;
						}

						&:last-child {
							color: $text-color-3;
							font-weight: 600;
							line-height: 1.5;
							font-size: 16px;
						}
					}
				}
			}

			&.seconds {
				@media screen and (max-width: 576px) {
					order: 3;
					padding: 12px;
				}
			}

			&.three {
				@media screen and (max-width: 576px) {
					order: 2;
					display: flex;
					align-items: flex-end;
					flex-direction: column;
					padding: 12px;
				}

				@media screen and (max-width: 320px) {
					align-items: flex-start;
				}
			}

			&.fourth {
				@media screen and (max-width: 968px) {
					display: none;
				}

				@media screen and (max-width: 576px) {
					order: 4;
				}
			}

			&.fifth {
				width: 120px;

				@media screen and (max-width: 576px) {
					order: 5;
					margin-left: auto;
					padding: 12px;
				}

				@media screen and (max-width: 320px) {
					margin-right: auto;
				}
			}
		}
	}

	.item__info {
		width: 100%;
		padding: 16px;
		border-top: 2px solid $border-color;
		background-color: $background-13;
		display: flex;

		@media screen and (max-width: 968px) {
			flex-direction: column-reverse;
		}

		.item__info__right {
			flex-grow: 1;
			border: 1px solid $border-color;
			margin-left: 32px;
			border-radius: 16px;
			background-color: $background-3;
			padding: 2rem;

			@media screen and (max-width: 968px) {
				margin-right: 0;
				margin-left: 0;
			}

			.item__info__title {
				span {
					&:first-child {
						color: $text-color-1;
						font-weight: 600;
						line-height: 1.5;
						text-transform: uppercase;
						margin-right: 4px;
						font-size: 12px;
					}

					&:last-child {
						color: $text-color-4;
						font-weight: 600;
						line-height: 1.5;
						font-size: 12px;
					}
				}
			}
		}

		.item__info__total {
			display: none;
			margin-top: 20px;
			margin-bottom: 10px;

			@media screen and (max-width: 968px) {
				display: flex;
				justify-content: space-between;
			}

			.item__info__total__title {
				color: $text-color-3;
			}
		}
	}
}
