@import "src/components/global-style/base.scss";

.home2 {
    padding: 48px 0;
    background: linear-gradient(180deg, #fff 22%, #d7caec 100%);
    position: relative;

    &.dark {
        background: linear-gradient(180deg, #09070c 22%, #201335 100%);
    }

    .container {
        @include container;

        .home2__title1 {
            color: $text-color-3;
            margin-bottom: 4px;
            text-align: center;
            line-height: 110%;
            font-weight: 600;
            font-size: 32px;

            &.dark {
                color: $text-color-white-2
            }

            @media screen and (max-width: 576px) {
                font-size: 2rem;
            }
        }

        .home2__title2 {
            color: $text-color-3;
            margin-bottom: 48px;
            text-align: center;
            line-height: 110%;
            font-weight: 600;
            font-size: 32px;

            &.dark {
                color: $text-color-white-2
            }

            @media screen and (max-width: 576px) {
                font-size: 2rem;
            }
        }

        .home2__info {
            padding-left: 100px;
            padding-right: 100px;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            margin-bottom: 48px;
            gap: 48px;

            &.dark {
                .home2__info__item {
                    .home2__info__name {
                        color: $text-color-white-2;
                    }

                    .home2__info__number {
                        color: $primary-1
                    }

                    .home2__info__text {
                        color: $text-color-6;
                    }
                }
            }

            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
            }

            .home2__info__item {
                &:nth-of-type(1) {
                    @media screen and (max-width:768px) {
                        width: 100%;
                    }
                }

                &:nth-of-type(2) {
                    @media screen and (max-width:576px) {
                        width: 100%;
                    }
                }

                &:nth-of-type(3) {
                    @media screen and (max-width:576px) {
                        width: 100%;
                    }
                }

                .home2__info__name {
                    color: $text-color-3;
                    font-size: 20px;
                    text-align: center;
                    font-weight: 600;
                    line-height: 120%;
                }

                .home2__info__number {
                    color: $text-color-4;
                    line-height: 110%;
                    text-align: center;
                    font-weight: 600;
                    font-size: 4rem;

                    @media screen and (max-width:576px) {
                        font-size: 2rem;
                    }
                }

                .home2__info__text {
                    font-size: 16px;
                    text-align: center;
                    font-weight: 600;
                    line-height: 120%;
                }
            }
        }
    }

    .home2__imageLeft {
        position: absolute;
        left: 20px;
        top: 0;

        img {
            width: 200px;

            @media screen and (max-width:1200px) {
                width: 100px;
            }

            @media screen and (max-width:968px) {
                display: none;
            }
        }
    }

    .home2__imageRight {
        position: absolute;
        right: 0;
        top: 0;

        img {
            width: 130px;

            @media screen and (max-width:1200px) {
                width: 65px;
            }

            @media screen and (max-width:968px) {
                display: none;
            }
        }
    }

    .home2__backgroundShape {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -62px;

        &.dark {
            svg path {
                fill: #201335;
            }
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}