@import 'components/global-style/base.scss';

.passwordRecovery {
    font-size: 15px;
    font-weight: 300;
    color: $text-color-dark;
    padding-top: 20px;
    padding-bottom: 20px;

    .container {
        @include container3;

        .passwordRecovery__card {
            padding: 16px;

            form {
                display: flex;
                flex-direction: column;
                gap: 15px;
                text-align: center;

                .passwordRecovery__header {
                    font-size: 20px;
                    font-weight: 400;
                }

                .toSignIn {
                    text-decoration: none;
                }
            }
        }
    }
}