.gridCards {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	.card {
		padding: 16px;
		width: 384px;

		@media screen and (max-width: 576px) {
			padding: 4px;
		}
	}
}
