@import "components/global-style/base.scss";

.staking {
    &.dark {
        background: $background-6;

        .staking__header {
            background: $background-7;

            .staking__header__container {
                .staking__header__big {
                    color: $primary-1;
                }

                .staking__header__small {
                    color: $text-color-white-2
                }
            }
        }

    }

    .staking__header {
        background: linear-gradient(139.73deg, #e5fdff, #f3efff);

        .staking__header__container {
            @include container;
            padding-top: 32px;
            padding-bottom: 32px;

            .staking__header__big {
                font-size: 6.4rem;
                color: $text-color-4;
                font-weight: 600;
                line-height: 1.1;
                margin-bottom: 24px;
            }

            .staking__header__small {
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.1;
                color: $text-color-3;
            }
        }
    }

    .staking__content {
        padding-top: 32px;
        padding-bottom: 32px;

        .staking__content__container {
            @include container;

            .staking__content__actions {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;
                margin-bottom: 24px;

                span {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        color: $primary-2;
                    }

                    &:active {
                        position: relative;
                        top: 2px
                    }

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}