@import 'components/global-style/base.scss';

.dateInput {
	position: relative;
	display: flex;
	cursor: pointer;

	input {
		border: 1px solid $border-color-5;
		padding: 9px 10px;
		border-radius: $border-radius;
		outline: none;
		flex: 1 1 auto;
		min-width: 0;
	}

	.dateInput__celendar {
		position: absolute;
		top: 35px;
		left: 0px;
		background-color: $background-1;
		border: 1px solid $border-color-5;
		z-index: 10;
		border-radius: $border-radius;
	}
}
