@import "components/global-style/base.scss";

.tokenSupplyChecker {
    .tokenSupplyChecker__body {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .tokenSupplyChecker__input {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 50%;

            @media screen and (max-width:768px) {
                width: 100%;
            }
        }
    }

    .tokenSupplyChecker__footer {
        border-top: 1px solid $border-color-5;
        padding: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: $background-17;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}