@import "src/components/global-style/base.scss";

.pill {
    padding: 4px 8px;
    color: $text-color-white-1 ;
    font-size: 11px;
    border-radius: 800px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &.blue {
        background-color: $background-15;
    }

    &.white {
        background-color: $background-1;
        color: $text-color-dark;
        border: 1px solid $border-color-5;
    }

    &.gray {
        background-color: #adb5bd26;
        border: 1px solid rgba(0, 0, 0, 0.15);
        color: $text-color-dark
    }
}