@import "components/global-style/base.scss";

.switch {
    width: 40px;
    height: 19px;
    border: 1px solid $border-color-5;
    background-color: transparent;
    border-radius: 17px;
    position: relative;
    transition: background-color .2s;
    cursor: pointer;

    &.active {
        background-color: $background-15;

        .switch__ball {
            margin-left: 20px;
            background-color: $background-1
        }
    }

    .switch__ball {
        width: 13px;
        height: 13px;
        position: absolute;
        top: 2px;
        left: 2px;
        background-color: $border-color-5;
        border-radius: 50%;
        transition: margin-left .2s;
    }
}