@import 'src/components/global-style/base.scss';

.footerComponent {
	color: $text-color-11;
	font-size: 1.3rem;

	span {
		&:first-child {
			position: relative;
			top: 1px;

		}
	}
	 
	a {
		margin-left: 5px;
	}
}