// Variable
$text-color-white-1: white;
$text-color-white-2: #f4eeff;
$text-color-dark: #000;
$text-color-dark-1: #090909;
$text-color-dark-2: #262626;
$text-color-1: #7a6eaa;
$text-color-3: #280d5f;
$text-color-4: #7645d9;
$text-color-5: #191326;
$text-color-6: #b8add2;
$text-color-7: #31d0aa;
$text-color-8: #a299c4;
$text-color-9: #7F7594;
$text-color-10: #212529;
$text-color-11: #6c757d;
$text-color-12: #081d35;
$text-color-13: #066a9c;
$text-color-14: #00a186;
$text-color-15: #adb5bd;

$yellow-1: #ffb237;

$hover-1: #e1e9ec;

$primary-1: #a881fc;
$primary-2: #1fc7d4;

$background-1: #fff;
$background-2: #27262C;
$background-3: #faf9fa;
$background-4: #edebf5;
$background-5: #353547;
$background-6: #08060b;
$background-7: linear-gradient(139.73deg, #313d5c, #3d2a54);
$background-8: #eff4f5;
$background-9: #1d1d22;
$background-10: #eeeaf4;
$background-11: #372f47;
$background-12: #d7caec;
$background-13: #f6f6f6;
$background-14: #1E1D20;
$background-15: #0784c3;
$background-16: #0670a6;
$background-17: #f8f9fa;
$background-18: #dc3545;
$background-19: #131313;
$background-20: #00a1861a;

$border-color: #e7e3eb;
$border-color-2: #fefdfe;
$border-color-3: #383241;
$border-color-4: #262130;
$border-color-5: #e9ecef;
$border-color-6: #dee2e6;
$border-color-7: #dee2e6;

$box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
// ----------------------------------------------------------------

@mixin container {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;

  @media screen and (max-width: 1199px) {}

  @media screen and (max-width: 991px) {}

  @media screen and (max-width: 767px) {}

  @media screen and (max-width: 575px) {}
}

@mixin container2 {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

@mixin container3 {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

@mixin box($addBorder: false, $addShadow: false) {
  width: 100%;
  border-radius: 24px;
  padding: 24px;
  background-color: $background-1;

  @if $addBorder {
    border: 1px solid $border-color;
  }

  @if $addShadow {
    box-shadow: 0px 2px 0px 0px rgba(231, 227, 235, 0.76);
  }
}

@mixin boxDark ($addBorder: false, $addShadow: false) {
  width: 100%;
  border-radius: 24px;
  padding: 24px;
  background-color: $background-2;

  @if $addBorder {
    border-color: $border-color-3;
  }

  @if $addShadow {
    box-shadow: 0px 2px 0px 0px rgba(56, 50, 65, 0.76);
  }
}

.--text-blue {
  color: $background-15 !important;
  cursor: pointer;
}

.--text-gray {
  color: $text-color-11;
}

.--text-success {
  color: $text-color-14;
}

.--hover-yellow {
  border: 1px dashed transparent;
  border-radius: 5px;
  transition: border-color .2s;
  padding-left: 4px;
  padding-right: 4px;

  &:hover {
    background-color: rgba(255, 193, 7, 0.15) !important;
    border-color: rgb(255, 193, 7) !important;
  }
}

//----------------------------------------------------------------
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInTopToBottom {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRightToLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInQuick {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoomAnimation {
  0% {
    transform: scale3d(1.5, .3, 2);
  }

  50% {
    transform: scaleY(1.5);
  }

  100% {
    transform: scale3d(1.5, .3, 2);
  }
}

@keyframes zoomAnimationTwo {
  0% {
    transform: scaleY(1.3);
  }

  50% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleY(1.3);
  }
}

@keyframes rubberBand {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scaleX(1.25) scaleY(0.75);
  }

  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }

  60% {
    transform: scaleX(1.15) scaleY(0.85);
  }

  80% {
    transform: scaleX(0.95) scaleY(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes backInUp {
  0% {
    opacity: 0;
    transform: translateY(700px) scale(0.7);
  }

  80% {
    transform: translateY(-20px) scale(1.1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes wobble {
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }

  30% {
    transform: translateX(20%) rotate(3deg);
  }

  45% {
    transform: translateX(-15%) rotate(-3deg);
  }

  60% {
    transform: translateX(10%) rotate(2deg);
  }

  75% {
    transform: translateX(-5%) rotate(-1deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes backInLeft {
  0% {
    opacity: 0;
    transform: translateX(-800px) scale(0.8);
  }

  80% {
    transform: translateX(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes backInRight {
  0% {
    opacity: 0;
    transform: translateX(800px) scale(0.8);
  }

  80% {
    transform: translateX(20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUpBig {
  opacity: 1 !important;
  animation: fadeInUpBig 1s ease-out;
}

.fadeInUp {
  animation: fadeInUp 0.2s ease-out;
}

.fadeInBottomToTop-long {
  animation: fadeInBottomToTop 1s ease-out;
}

.fadeInTopToBottom {
  animation: fadeInTopToBottom 0.5s ease-out;
}

.fadeInRightToLeft {
  animation: fadeInRightToLeft 0.5s ease-out;
}

.fadeInLeftToRight {
  animation: fadeInLeftToRight 0.5s ease-out;
}

.fadeIn {
  animation: fadeIn 1.4s ease-out;
}

.fadeIn-long {
  animation: fadeIn 4s ease-out;
}

.fadeInQuick {
  opacity: 1 !important;
  animation: fadeInQuick 2s ease-out;
}

.fadeOut {
  animation: fadeOut 1.4s ease-out;
}

.loader {
  border: 2px solid transparent;
  border-top: 2px solid white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 0.8s linear infinite;
}

.rubberBand {
  animation: rubberBand 1s 1;
  transform-origin: center;
  display: inline-block;
}

.backInUp {
  animation: backInUp 1s ease-out;
}

.wobble {
  animation: wobble 1s ease-in-out 1;
}

.backInLeft {
  opacity: 1 !important;
  animation: backInLeft 1s ease-out;
}

.backInRight {
  opacity: 1 !important;
  animation: backInRight 1s ease-out;
}

.slideInUp {
  opacity: 1 !important;
  animation: slideInUp 1s ease-out;
}

.fadeInDownBig {
  opacity: 1 !important;
  animation: fadeInDownBig 1s ease-out;
}