@import "src/components/global-style/base.scss";

.home6 {
    padding: 48px 0;

    .container {
        @include container;

        .home6__title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            line-height: 1.5;
            font-size: 4rem;
            font-weight: 600;

            div {
                &:first-child {
                    color: $text-color-3;
                }

                &:last-child {
                    color: $text-color-4;
                }
            }

        }

        .home6__content {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow-y: hidden;

            .home6__prev {
                width: fit-content;
                margin-right: 8px;
            }

            .home6__show {
                overflow-x: auto;
                white-space: nowrap;
                border-radius: 24px;
                scroll-snap-type: x mandatory;
                height: 385px;


                .home6__slide {
                    scroll-snap-align: start;
                    width: 260px;
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 15px;
                    padding-right: 15px;
                    transition: transform 0.2s linear, padding 0.2s linear;

                    .home6__card {
                        width: 100%;
                        height: 390px;
                        border-radius: 24px;
                        background: $background-1;
                        box-shadow: 0px 2px 0px 0px $border-color;
                        cursor: pointer;
                        border: 1px solid $border-color;
                        margin-bottom: 10px;

                        @media screen and (max-width:1000px) {
                            height: 410px;
                        }

                        .home6__image {
                            border-top-left-radius: 24px;
                            border-top-right-radius: 24px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 130px;
                            }
                        }

                        .home6__contact {
                            padding: 20px 20px 0 20px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            color: $text-color-1;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 120%;

                            @media screen and (max-width:1200px) {
                                flex-direction: column;
                            }
                        }

                        .home6__contact__title {
                            padding: 0 20px;
                            color: $text-color-3;
                            font-weight: 600;
                            margin-top: 16px;
                            line-height: 120%;
                            font-size: 16px;
                            min-height: 66px;
                            white-space: normal;
                        }

                        .home6__text {
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            white-space: pre-wrap;
                            font-size: 9px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            margin-top: 16px;
                            max-height: 56px;
                            padding: 0 20px;
                        }
                    }
                }

            }

            .home6__next {
                width: fit-content;
                margin-left: 8px;

            }

            .home6__button {
                width: 30px;
                height: 30px;
                border: 2px solid $primary-2;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $primary-2 ;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}