@import 'src/components/global-style/base.scss';

.headerComponent4 {
	margin-bottom: 20px;

	.headerComponent4__title {
		font-size: 17px;
		font-weight: 500;
		margin-bottom: 8px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
