@import 'src/components/global-style/base.scss';

.dropdownItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 8px;
	border-radius: $border-radius;
	transition: background-color .2s;

	&:hover {
		background-color: $border-color-5;
	}
}

.dropdownItem__line {
	border-bottom: 1px solid $border-color;
	margin-top: 8px;
	margin-bottom: 8px;
}
