@import 'components/global-style/base.scss';

.modalWalletContent {
	&.dark {
		.modalWalletContent__address {
			label {
				color: $primary-1;
			}
		}

		.modalWalletContent__warning {
			.modalWalletContent__right {
				div {
					color: $text-color-white-2;
				}

				a {
					color: $primary-2;
				}
			}
		}

		.modalWalletContent__balace {
			div {
				&:first-child {
					color: $primary-1;
				}
			}
		}
	}

	.modalWalletContent__address {
		display: flex;
		flex-direction: column;

		label {
			color: $text-color-4;
			line-height: 1.5;
			text-transform: uppercase;
			margin-bottom: 16px;
			font-size: 12px;
			font-weight: bold;
		}
	}

	.modalWalletContent__warning {
		display: flex;
		padding: 16px;
		border-radius: 16px;
		border-width: 1px;
		border-style: solid;
		border-image: initial;
		margin-bottom: 24px;
		background: rgba(255, 178, 55, 0.098);
		border-color: $yellow-1;
		gap: 8px;
		margin-top: 20px;

		.modalWalletContent__left {
			position: relative;
			top: 3px;

			color: $yellow-1;

			svg {
				width: 20px;
				height: 20px;
			}
		}

		.modalWalletContent__right {
			flex: 1;

			div {
				color: $text-color-3;
				line-height: 1.5;
				font-weight: bold;
				font-size: 16px;
			}

			a {
				color: $primary-2;
				font-weight: 400;
				line-height: 1.5;
				font-size: 16px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.modalWalletContent__balace {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;

		div {
			&:first-child {
				color: $text-color-1;
			}

			&:last-child {
				color: $yellow-1;
				line-height: 1.5;
				font-weight: bold;
			}
		}
	}

	.modalWalletContent__action {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
