@import "components/global-style/base.scss";

@mixin input ($left: true) {
    width: 100%;

    &>div {
        &:first-child {
            color: $text-color-1;
            font-weight: 600;
            line-height: 1.5;
            text-transform: uppercase;
            font-size: 16px;
        }
    }

    .cakeStaking__top__card__input__item {
        background-color: $background-10;
        border: 1px solid $background-12;
        border-radius: 16px;
        box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, .1);
        display: flex;
        padding: 8px 16px;
        gap: 8px;
        margin-bottom: 8px;
        height: 60px;
        align-items: center;

        @media screen and (max-width:576px) {
            height: unset;
        }

        &>div {
            &:nth-of-type(1) {
                display: flex;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            &:nth-of-type(2) {
                flex: 1;

                div {
                    &:first-child {
                        display: flex;
                        align-items: center;
                        gap: 4px;

                        input {
                            flex-grow: 1;
                            width: 100%;
                            border: none;
                            outline: none;
                            background: transparent;
                            color: $text-color-3;
                            font-size: 1.6rem;
                            font-weight: 600;
                        }

                        span {
                            color: $text-color-1;
                            font-weight: 400;
                            line-height: 1.5;
                            margin-top: 4px;
                            font-size: 12px;
                            white-space: nowrap;
                        }
                    }

                    &:last-child {
                        font-size: 12px;
                    }

                }
            }
        }
    }

    .cakeStaking__top__card__input__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        width: 100%;

        @media screen and (max-width:576px) {
            flex-wrap: wrap;
        }

        .cakeStaking__top__card__input__list__item {
            flex: 1;
            border-radius: 16px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 0.03em;
            line-height: 1;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 32px;
            padding: 0px 16px;

            position: relative;
            user-select: none;

            @if $left {
                background-color: $background-8;
                color: $primary-2;
            }

            @else {
                background-color: $background-10;
                color: $text-color-1;
            }

            &:hover {
                opacity: 0.7;
            }

            &:active {
                top: 1px;
            }

            &.active {
                border-radius: 16px;
                box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
                transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
                height: 32px;
                padding: 0px 16px;

                @if $left {
                    background: $primary-2;
                    color: $text-color-white-1;
                }

                @else {
                    background-color: $text-color-1;
                    color: $text-color-white-1;
                }
            }
        }
    }
}

.cakeStaking {

    &.dark {
        .cakeStaking__top {
            background: $background-7;

            .cakeStaking__container {
                .cakeStaking__top__content {
                    .cakeStaking__top_left {
                        .cakeStaking__top__header {
                            color: $primary-1;
                        }

                        .cakeStaking__top__text {
                            color: $text-color-6;
                        }
                    }

                    .cakeStaking__top_right {
                        span {
                            &:nth-of-type(1) {
                                box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
                                background-color: $text-color-6;
                                color: $background-2;
                            }

                            &:nth-of-type(2) {
                                svg {
                                    path {
                                        fill: $text-color-6;
                                    }
                                }
                            }
                        }
                    }

                    .cakeStaking__top__card {
                        background: $background-2;

                        .cakeStaking__top__card__header {
                            color: $text-color-white-2;
                        }

                        .cakeStaking__top__card__input__group {
                            &>div {
                                &:first-child {
                                    color: $text-color-6 !important;
                                }
                            }

                            .cakeStaking__top__card__input__item {
                                background: $background-11 !important;
                                border-color: $border-color-4 !important;

                                &>div {
                                    &:nth-of-type(2) {
                                        div {
                                            &:first-child {
                                                input {
                                                    color: $text-color-white-2 !important;
                                                }

                                                span {
                                                    color: $text-color-6 !important;
                                                }
                                            }

                                            &:last-child {
                                                color: $text-color-6 !important;
                                            }
                                        }
                                    }
                                }
                            }

                            .cakeStaking__top__card__input__list {
                                .cakeStaking__top__card__input__list__item {
                                    background: $background-5 !important;

                                    &.active {
                                        &.left {
                                            background: $primary-2 !important;
                                            color: $text-color-5 !important;
                                        }

                                        &.right {
                                            background-color: $text-color-1 !important;
                                            color: $text-color-5 !important;
                                        }
                                    }
                                }
                            }
                        }

                        .cakeStaking__top__card__overide {
                            .cakeStaking__top__card__overide__header {
                                color: $text-color-6;
                            }

                            .cakeStaking__top__card__overide__info {
                                .cakeStaking__top__card__overide__info__item {
                                    span {
                                        &:first-child {
                                            color: $text-color-6;
                                        }

                                        &:last-child {
                                            color: $text-color-white-2;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .cakeStaking__top__smallTitle {
                        color: $primary-1;
                    }
                }
            }
        }

        .cakeStaking__bottom {
            background: $background-6 ;

            .cakeStaking__container {
                .cakeStaking__bottom__header {
                    color: $text-color-white-2;
                }
            }
        }
    }

    .cakeStaking__top {
        padding-top: 56px;
        padding-bottom: 32px;
        background: linear-gradient(139.73deg, #e5fdff, #f3efff);

        .cakeStaking__container {
            @include container;

            .cakeStaking__top__content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .cakeStaking__top_left {
                    width: 60%;

                    @media screen and (max-width:576px) {
                        width: 100%;
                    }

                    .cakeStaking__top__header {
                        color: $text-color-4;
                        font-weight: 600;
                        margin-bottom: 16px;
                        line-height: 110%;
                        font-size: 6.4rem;
                    }

                    .cakeStaking__top__text {
                        color: $text-color-1;
                        font-weight: 400;
                        line-height: 120%;
                        font-size: 16px;
                    }

                    .cakeStaking__top__nav {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 8px;
                        color: $primary-2;
                        font-weight: 600;
                        line-height: 1.5;
                        margin-right: 4px;
                        font-size: 16px;
                    }
                }

                .cakeStaking__top_right {
                    width: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    @media screen and (max-width:576px) {
                        width: 100%;
                        justify-content: flex-start;
                    }

                    span {
                        &:nth-of-type(1) {
                            border: 0px;
                            border-radius: 16px;
                            box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
                            cursor: pointer;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 0.03em;
                            line-height: 1;
                            height: 48px;
                            padding: 0px 12px;
                            background-color: $text-color-1;
                            color: $text-color-white-1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 8px;
                            position: relative;
                            left: 1px;
                        }

                        img {
                            width: 138px;
                        }
                    }
                }

                .cakeStaking__top__card {
                    @include box();
                    max-width: 72%;
                    margin-top: 22px;
                    margin-left: auto;
                    margin-right: auto;

                    @media screen and (max-width: 576px) {
                        max-width: 100%;
                        ;
                    }

                    .cakeStaking__top__card__header {
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.1;
                        color: $text-color-3;
                    }

                    .cakeStaking__top__card__input {
                        margin-top: 32px;
                        margin-bottom: 32px;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 24px;

                        @media screen and (max-width:968px) {
                            grid-template-columns: repeat(1, 1fr);
                        }

                        .cakeStaking__top__card__input__group {
                            &.cakeStaking__top__card__input__left {
                                @include input(true);
                            }
                        }

                        .cakeStaking__top__card__input__group {
                            &.cakeStaking__top__card__input__right {
                                @include input(false);
                            }
                        }
                    }

                    .cakeStaking__top__card__overide {
                        width: 100%;

                        .cakeStaking__top__card__overide__header {
                            color: $text-color-1;
                            font-weight: 600;
                            line-height: 1.5;
                            text-transform: uppercase;
                            font-size: 12px;
                        }

                        .cakeStaking__top__card__overide__main {
                            border-radius: 16px;
                            background: linear-gradient(229deg, rgb(31, 199, 212) -13.69%, rgb(118, 69, 217) 91.33%);
                            padding: 16px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;
                            margin-left: 8px;

                            @media screen and (max-width:576px) {
                                margin-left: 0;
                            }

                            @media screen and (max-width:319px) {
                                flex-direction: column;
                            }

                            .cakeStaking__top__card__overide__main__item {
                                &:nth-of-type(1) {
                                    img {
                                        width: 58px;
                                        height: 58px;
                                    }
                                }

                                &:nth-of-type(2) {
                                    flex: 1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    @media screen and (max-width:576px) {
                                        flex-direction: column;
                                        align-items: flex-start;
                                    }

                                    span {
                                        &:first-child {
                                            flex: 1;
                                            color: $text-color-white-1;
                                            font-weight: 600;
                                            font-size: 20px;
                                            line-height: 120%;
                                        }

                                        &:last-child {
                                            color: $text-color-white-1;
                                            font-weight: 600;
                                            font-size: 20px;
                                            line-height: 110%;

                                        }
                                    }
                                }
                            }
                        }

                        .cakeStaking__top__card__overide__info {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            padding: 16px;
                            margin-left: 16px;

                            @media screen and (max-width:576px) {
                                margin-left: 0;
                                padding-left: 0;
                                padding-right: 0;
                            }

                            .cakeStaking__top__card__overide__info__item {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                span {
                                    &:first-child {
                                        color: $text-color-1;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                    }

                                    &:last-child {
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        color: $text-color-3;
                                    }
                                }
                            }
                        }
                    }

                    .cakeStaking__top__card__actions {
                        width: 50%;
                        margin-left: auto;
                        margin-right: auto;

                        @media screen and (max-width:576px) {
                            width: 100%;
                        }
                    }
                }

                .cakeStaking__top__smallTitle {
                    width: 100%;
                    font-size: 4rem;
                    font-weight: 600;
                    line-height: 1.1;
                    margin-top: 45px;
                    margin-bottom: 48px;
                    color: $text-color-4;
                }

                .cakeStaking__top__secondCardContainer {
                    width: 72%;
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    flex-wrap: wrap;

                    @media screen and (max-width: 576px) {
                        width: 100%;
                    }

                    .cakeStaking__top__secondCard {
                        width: 50%;

                        @media screen and (max-width:968px) {
                            width: 100%;
                        }

                        &:nth-of-type(1) {
                            padding-right: 12px;

                            @media screen and (max-width:968px) {
                                padding-right: 0;
                                padding-bottom: 12px;
                            }
                        }

                        &:nth-of-type(2) {
                            padding-left: 12px;

                            @media screen and (max-width:968px) {
                                padding-left: 0;
                                padding-top: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    .cakeStaking__bottom {
        padding-bottom: 48px;

        .cakeStaking__container {
            @include container;

            .cakeStaking__bottom__header {
                font-size: 4rem;
                font-weight: 600;
                line-height: 1.1;
                color: $text-color-3;
                padding: 24px;
            }
        }

        .cakeStaking__bottom__content {
            max-width: 72%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
            margin-bottom: 8rem;

            @media screen and (max-width: 968px) {
                grid-template-columns: repeat(1, 1fr);
            }

            @media screen and (max-width: 576px) {
                max-width: 100%;
            }
        }
    }
}