@import 'components/global-style/base.scss';

.top {
	color: $text-color-white-1;
	padding-top: 56px;
	padding-bottom: 80px;
	background-image: url(imgs/waves-light.svg);
	background-position: center center;
	background-color: $background-19;

	.container {
		@include container2;

		.top__header {
			font-weight: 400px;
			color: $text-color-white-1;
			font-size: 20px;
		}

		.top__search {
			width: 50%;

			@media screen and (max-width: 992px) {
				width: 75%;
			}

			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}

		.top__text {
			.top__text--bold {
				font-weight: 400;
				opacity: 0.7;
			}

			.top__text--opacity {
				opacity: 0.7;
			}

			.top__text--blue {
				color: $background-15;
				opacity: 1;
				font-weight: 400;
			}
		}
	}
}
