@import "components/global-style/base.scss";

.home2 {
    .home2--blue {
        color: $background-15;
        cursor: pointer;
    }

    .blockRecord--gray {
        color: $text-color-11;
    }

    .container {
        @include container2;
        position: relative;
        top: -50px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .home2__top {
            width: 100%;
        }

        .home2__left {
            width: calc((100% - 15px)/2);

            @media screen and (max-width:992px) {
                width: 100%;
            }
        }

        .home2__right {
            width: calc((100% - 15px)/2);

            @media screen and (max-width:992px) {
                width: 100%;
            }
        }
    }
}

.line {
    width: 100%;
    border-top: 1px solid $border-color-5;
    margin-top: 16px;
    margin-bottom: 16px;
}

.home2__link {
    color: $blue;
    text-decoration: none;
}

.home2--threeDot {
    display: block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
