.marquee__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    border-radius: 10px;
    mask-image: linear-gradient(to left, transparent, black 80px, black calc(100% - 80px), transparent);
    padding-bottom: 10px;

    &.pause:hover .marquee__slice {
        animation-play-state: paused;
    }

    .marquee__slice {
        display: inline-block;
        width: fit-content;
        height: 100%;
        gap: 10px;

        .marquee__item {
            display: inline-block;
            margin-left: 10px;
        }
    }
}

@keyframes move_marqueeToLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes move_marqueeToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}