@import "src/components/global-style/base.scss";

.footer {
    background-color: $background-2;
    color: $text-color-white-2;
    padding: 56px 40px 32px;

    .footer__container {
        @include container;

        .footer__nav {
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 36px;

            @media screen and (max-width:986px) {
                flex-direction: column;
                gap: 40px;
            }

            ul {
                list-style-type: none;

                li {
                    margin-bottom: 8px;

                    &:first-child {
                        color: $primary-1;
                    }

                    a {
                        text-decoration: none;

                        color: $text-color-white-2;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .footer__logo1 {
                        display: block;

                        @media screen and (max-width:992px) {
                            display: none;
                        }

                        @media screen and (max-width:986px) {
                            display: block;
                        }
                    }

                    .footer__logo2 {
                        display: none;

                        @media screen and (max-width:992px) {
                            display: block;
                        }

                        @media screen and (max-width:986px) {
                            display: none;
                        }
                    }
                }
            }
        }

        .footer__social {
            padding-bottom: 32px;
            margin-bottom: 32px;
            border-bottom: 1px solid #383241;
            gap: 24px;

            a {

                display: block;

                img {
                    width: 20px;
                    height: 20px;
                    object-fit: covrer;
                }
            }
        }

        .footer__last {
            @media screen and (max-width:576px) {
                display: none;
            }
        }
    }
}