.paging {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	user-select: none;

	span {
		display: flex;
		align-items: center;
		justify-content: center;

		&:last-child {
			cursor: pointer;
		}

		&:first-child {
			cursor: pointer;
		}

		&.disable {
			color: #cacaca;

			&:hover {
				cursor: not-allowed;
			}
		}
	}
}
