.alert {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 16px;
	margin-bottom: 8px;
	border-radius: 8px;

	&.alertSuccess {
		background-color: #f0fdf4;
		color: #166540;
		border: 1px solid #166540;

		.alert__button {
			color: #166540;
		}
	}

	&.alertInfo {
		background-color: #eff6ff;
		color: #3f5dbc;
		border: 1px solid #3f5dbc;

		.alert__button {
			color: #3f5dbc;
		}
	}

	&.alertWarning {
		background-color: #fefce8;
		color: #854d0e;
		border: 1px solid #854d0e;

		.alert__button {
			color: #854d0e;
		}
	}

	&.alertError {
		background-color: #fef2f2;
		color: #991b1b;
		border: 1px solid #991b1b;

		.alert__button {
			color: #991b1b;
		}
	}

	&.alertDark {
		background-color: whitesmoke;
	}

	.alert__button {
		border: none;
		outline: none;
		padding: 4px;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;

		&:hover {
			cursor: pointer;
		}
	}

	span {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
