@import 'src/components/global-style/base.scss';

.button {
    padding: 12px 6px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.15s;
    font-size: 16px;

    &.outline {
        border: 1px solid $border-color-5;
        background-color: transparent;

        &:hover {
            background-color: $border-color-5;
        }
    }

    &.primary {
        border: 1px solid $background-15;
        background-color: $background-15;
        color: $background-1;

        &:hover {
            background-color: $background-16;
            border-color: $background-16;
        }
    }

    &.outlineSmall {
        padding: 2px 8px;
        border-radius: 6px;

        &:hover {
            background-color: $border-color-5;
        }
    }

    &.primarySmall {
        border: 1px solid $background-15;
        background-color: $background-15;
        color: $background-1;
        padding: 2px 8px;

        &:hover {
            background-color: $background-16;
            border-color: $background-16;
        }
    }
}