@import 'components/global-style/base.scss';

.sectionInfo__container {
	&.dark {
		.sectionInfo {
			.SectionInfo__left {
				color: $text-color-white-2;
			}

			.SectionInfo__right {
				span {
					&:nth-of-type(3) {
						color: $text-color-white-2;
					}

					&:nth-of-type(4) {
						color: $text-color-white-2;
					}
				}
			}
		}
	}

	.sectionInfo {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.SectionInfo__left {
			color: $text-color-3;
			font-weight: 400;
			line-height: 1.5;
			font-size: 16px;
		}

		.SectionInfo__right {
			display: flex;
			align-items: center;
			gap: 4px;

			span {
				&:nth-of-type(1) {
					display: flex;
					align-items: center;
					justify-content: center;
					color: $text-color-7;

					svg {
						width: 18px;
						height: 18px;
					}
				}

				&:nth-of-type(2) {
					color: $text-color-7;
					font-weight: 600;
				}

				&:nth-of-type(3) {
					text-decoration: line-through;
					color: $text-color-3;
					font-weight: 400;
					line-height: 1.5;
					font-size: 16px;
				}

				&:nth-of-type(4) {
					display: flex;
					align-items: center;
					justify-content: center;

					&:hover {
						cursor: pointer;
						opacity: 0.7;
					}

					svg {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}
}
