.money {
    &:hover {
        cursor: pointer;

        .money__image {
            transform: scale(1.1);
        }

    }

    .money__image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 50%;
        background-color: #53DEE9;
        transform: scale(0.9);
        transition: .2s;

        img {
            width: 20px;
            height: 20px;
        }
    }
}