@import 'components/global-style/base.scss';

.nftTop {
    padding-top: 20px;
    padding-bottom: 20px;

    .container {
        @include container2;
    }
}

.nftTop__colection {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;

    img {
        width: 30px;
        height: 30px;
    }
}