@import "src/components/global-style/base.scss";

.dropdownHeader {
    position: relative;
    height: 100%;

    .headerContainer {
        position: relative;
        height: 100%;
        transition: .4s;
        border-radius: 15px;

        &:hover {
            background-color: $hover-1;

            &+.headerMenuContainer {
                display: block;
            }
        }

        svg {
            font-size: 25px;
        }
    }

    .headerMenuContainer {
        position: absolute;
        top: 51px;
        width: 250px;
        padding-top: 7px;
        display: none;

        &:hover {
            display: block;
        }

        .headerMenu {
            width: 100%;
            border-radius: 15px;
            background-color: $background-1;
            overflow: hidden;

            .headerMenu__item {
                padding: 10px;
                transition: .2s;

                &:hover {
                    background-color: $hover-1;
                }
            }
        }
    }
}