.marqueeY {
	height: 100%;
	width: fit-content;
	overflow: hidden;
	position: relative;
	z-index: 2;
	mask-image: linear-gradient(
		to top,
		transparent,
		black 80px,
		black calc(100% - 80px),
		transparent
	);

	.marqueeY__slide {
		animation: move 10s linear infinite;

		.marqueeY__item {
			padding: 10px;
		}
	}
}

@keyframes move {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
	}
}
