.d-0 {
    display: none !important;
}

.d-b {
    display: block !important;
}

.flex {
    display: flex;
}

@each $breakpoint, $width in $responsive {
    @media screen and (max-width: $width) {
        .d-#{$breakpoint}-0 {
            display: none !important;
        }

        .d-#{$breakpoint}-b {
            display: block !important;
        }

        .flex-#{$breakpoint} {
            display: flex;
        }
    }
}