.d-0 {
    display: none;
}

.flex {
    display: flex;
}

@each $breakpoint, $width in $responsive {
    @media screen and (max-width: $width) {
        .d-#{$breakpoint}-0 {
            display: none;
        }

        .flex-#{$breakpoint} {
            display: flex;
        }
    }
}