.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

@each $breakpoint, $width in $responsive {
    @media screen and (max-width: $width) {
        .text-#{$breakpoint}-right {
            text-align: right;
        }

        .text-#{$breakpoint}-center {
            text-align: center;
        }

        .text-#{$breakpoint}-left {
            text-align: left;
        }
    }
}