@import "src/components/global-style/base.scss";

@mixin cardRecord {
	display: flex;
	align-items: flex-start;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}

	.block__left {
		width: 30%;
		display: flex;
		align-items: center;
		gap: 5px;
		font-weight: 300;
		color: $text-color-11;

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		.block__question {
			display: block;
			position: relative;
			top: 3px;
		}
	}

	.block__right {
		width: 70%;
		padding-left: 15px;
		display: flex;
		align-items: center;
		gap: 5px;

		@media screen and (max-width: 768px) {
			width: 100%;
			padding: 0;
		}

		.block__right__card {
			padding: 16px;
			overflow: auto;
			background-color: $background-17;
		}

		.block__right__link {
			color: $blue;
			text-decoration: none;

			&:hover {
				color: $blue-2;
			}

			svg {
				position: relative;
				top:3px;
				font-size: 15px;
				stroke-width: 1;
			}
		}
	}
}

.block {
	padding-bottom: 48px;
	.container {
		@include container2;

		.block__header {
			font-size: 15px;
			font-weight: 300;
			margin-left: 5px;
		}

		.block__content {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.block__buttonOverview {
				width: fit-content;
				margin-top: 20px;
			}

			.block__card {
				gap: 16px;
				display: flex;
				flex-direction: column;
				padding: 16px;

				.block__cardRecord {
					@include cardRecord;
				}

				.block__line {
					border-bottom: 1px solid $border-color;
				}
			}
		}

		.block__footer {
			font-size: 13px;
			color: $text-color-11;
			margin-top: 16px;
		}
	}
}

.block__button {
	width: 25px;
	height: 25px;
	padding: 2px 8px;
	background: $border-color!important;
}

.block__cardCollapseRecord {
	@include cardRecord;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-top: 16px;
}

.block__link {
	color: $blue;
	text-decoration: none;

	&:hover {
		color: $blue-2;
	}
}