@import 'src/components/global-style/base.scss';

.buttonDropdown {
	display: flex;
	align-items: center;
	padding-top: 8px;
	padding-bottom: 8px;
	background: $background-1 !important;
}


.footer {
	margin-top: 20px;
}