@import 'src/components/global-style/base.scss';

.table {
	padding-bottom: 20px;

	.table__listTab {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;
		margin-bottom: 10px;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			gap: 10px;
			align-items: flex-start;
		}
	}

	.table__card {
		.table__header {
			margin-bottom: -32px;
			padding: 16px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media screen and (max-width: 768px) {
				flex-direction: column;
				gap: 10px;
				align-items: flex-start;
			}

			.table__header__left {
				display: flex;
				align-items: center;
				gap: 5px;

				@media screen and (max-width: 576px) {
					flex-wrap: wrap;
				}
			}

			.table__header__right {
				display: flex;
				gap: 5px;

				@media screen and (max-width: 576px) {
					flex-wrap: wrap;
				}
			}
		}

		.table__footer {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
			text-transform: uppercase;
			padding: 16px;
			background-color: $background-17;
			border-bottom-left-radius: 12px;
			border-bottom-right-radius: 12px;
			cursor: pointer;
			font-weight: 500;

			&:hover {
				color: $blue-2;
			}
		}
	}
}

.table__dash {
	border-style: dashed !important;
}